*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #181419;
  color: white;
}
.header {
  background-color: #9f3641;
  color: #ffffff;
  height: 20vh;
  position: sticky;
  top: 0;
  z-index: 10;
.navegador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 40px;
  padding: 1.7rem 0;
  .lista {
    list-style: none;
    display: flex;
    align-items: center;

    .item {
      margin-right: 20px;

      .linkNav {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;

        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
          transform: scale(0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          border-radius: 7px;
        }
      }
      .linkNav.iniciarSesion{
        background-color: #08010a;
        color: white;
        border-radius: 7px;
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
          background-color: #9f3641;
        }
      }
    }
  }
}
}  
